body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    width: 380px;
    height: 360px;
    background-color: #0ff4fc;
    border-radius: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
}

.verh {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 896;
    font-size: 23px;
}


.vhod {
    font-weight: 896;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-left: 25px;
    margin-top: 10px;
}

.formgr {
    display: grid;
    margin-left: 25px;
}

.input {
    border: 0;
    height: 40px;
    width: 300px;
    padding-left: 25.5px;
    font-size: 19px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 23px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 38.4px;
    border-radius: 18px;
    background-color: rgb(52, 196, 240);
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    font-size: 16px;
    -webkit-text-stroke: 0.28px #000000;
}

.btn:hover {
    scale: 1.09;
    transition: 0.09s;
    cursor: pointer;
    background-color: rgb(50, 218, 255);
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr 13fr 2fr;
    width: 377px;
    height: 800px;
    background-color: #0ff4fc;
    border-radius: 1px;
    border: 0;
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
}

.container3 {
    display: grid;
    width: 380px;
    height: 360px;
    background-color: #0ff4fc;
    border-radius: 1px;
}

.vhodp3 {
    font-weight: 896;
    font-size: 17px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.btnp3 {
    width: 240px;
    height: 38px;
    border-radius: 18px;
    background-color: rgb(52, 196, 240);
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.3);
    font-size: 16px;
    -webkit-text-stroke: 0.28px #000000;
}

.btnp3:hover {
    scale: 1.09;
    transition: 0.09s;
    cursor: pointer;
    background-color: rgb(50, 218, 255);
}